<!DOCTYPE html>
<html>
    <body>
        <head>
            <title> MEC </title>
            <link rel="stylesheet" href="../static/css/canvas_style.css">
            <link rel="stylesheet" href="../static/css/text_holder_style.css">
            <link rel="stylesheet" href="../static/css/text.css">
            <link rel="stylesheet" href="../static/css/button.css">
            <link rel="stylesheet" href="../static/css/figures_holder.css">
            <link rel="stylesheet" href="../static/css/button_number_figures.css">
            <script>
                var mean_lens_figures_ = {{ mean_lens_figures|tojson }};
                var rotation_mean_angles_ = {{ rotation_mean_angles|tojson }};
                var std_lens_figures_ = {{ std_lens_figures|tojson }};

                var figures_ = {{ generated_figures|tojson }};
                var figures = figures_.map(
                    pair_points => {
                        return pair_points.map(
                            point => {
                                return {x: point[0], y: point[1]}
                            }
                        )
                    });

                var solutions_ = {{ generated_solutions|tojson }};
                var winning_lines = solutions_.map(
                    figure => {
                        return figure.map(
                            pair_points => {
                                return pair_points.map(
                                    point => {
                                        return {x: point[0], y: point[1]}
                                    }
                                )
                            }
                        )
                    });

                var number_of_squares = winning_lines.map(function(figure){
                    if (figure.length == 4){
                        return 1;
                    }
                    else{
                        return 0;
                    }
                }).reduce(function(a, b) { return a + b; }, 0);
                var number_of_triangles = winning_lines.length - number_of_squares;
            </script>

            <style>
                .canvasHolder{
                    position: absolute;
                    left : 0;
                    top : 0;
                    float: left;
                    background: yellow;
                    min-width: 400px;
                    max-width: 800px;
                }
                .canvas{
                    position: absolute;
                    top: 50; 
                    left: 40;
                }
                body{
                    font-family: 'Trebuchet MS', sans-serif;
                }
            </style>
        </head>
        
        <!-- Add the canvas element -->
        <div class="container">
            <div class="canvasHolder">
                <canvas class = "canvas" id="canvasPoints" width="{{ x_size }}" height="{{ y_size }}"></canvas>
                <canvas class="canvas" id="canvasJoiningLines" width="{{ x_size }}" height="{{ y_size }}" > </canvas>
                <canvas class = "canvas" id="canvasLines" width="{{ x_size }}" height="{{ y_size }}"></canvas>
            </div>

            <div class="textHolder">
                <h1>Join the points!</h1> 
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox">
                    <div class="toggle-switch" id="show_number_figures"></div>
                    <span class="toggle-label" id="show_number_figures_"> Show the number of figures of each type</span>
                </label>

                <div class="figuresHolder" id="n_figures_holder" style="display: none" >

                    <div class="figuresHolder_child" id="number_squares_holder"> 
                        <div class='square-box'>
                            <div class='square-content'>
                                <h3 id="number_squares">test</h3>
                            </div>
                        </div>
                    </div>

                    <div class="figuresHolder_child" id="number_triangles_holder"> 
                        <div class='triangle-box'>
                            <div class='triangle-content'>
                                <h3 id="number_triangles"> test </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="text_p" id="correct_figures"> You've found: 0 figures (Out of a total of {{ n_figures }})</p>
                <p class="text_p" id="correct_lines"> Correct lines: 0</p>
                <p class="text_p" id="incorrect_lines">  Incorrect lines: 0</p>

                <div class="buttonsHolder">
                    <button class = "button-89" role="button" id="new_game">
                        I want another level
                    </button>
                    <button class = "button-89" role="button" id="get_hint">
                        Give me a hint!
                    </button>
                </div>
            </div>
        </div>
        

        <!-- Add the script.js file-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/js/draw_points.js?2"></script>
        <script src="../static/js/buttons_actions.js?2"></script>
        <script src="../static/js/show_results.js?2"></script>
        <script src="../static/js/change_color_points.js?2"></script>
        <script src="../static/js/join_points.js?2"></script>
        <script src="../static/js/draw_line.js?2"></script>
        <script src="../static/js/check_point.js?2"></script>
        <script src="../static/js/check_line.js?2"></script>
        <script src="../static/js/check_if_some_figure_is_finished.js?2"></script>
        <script src="../static/js/collapse_number_of_figures.js?2"></script>
        <script src="../static/js/communicate_server.js"></script>
        <script src="../static/js/get_screen_size.js"></script>
    </body>
</html>

