<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/css/start_page.css">
    <title>Página de inicio</title>
    <style>
      /* Añade aquí tu CSS */
    </style>
  </head>
  <body>
    <h1 id="welcome-message">Welcome!</h1>
    <p> You need to find the squares and the triangles hidden in the cloud points.</p>
    <p> All the triangles are right isoceles, that is to say, they have two sides of equal length and one right angle.</p>
    <button id="start-button">Start to play</button>
  
    <script src="../static/js/start_game.js?2"></script>
  </body>
</html>